* {
    margin: 0px;
    box-sizing: border-box;
}
main{
    background-color: #f4f4f4;
}
.container {
    margin: auto;
    width: 540px;
}
header{
    background-color: black;
}
.pinetour-logo {
    text-align: center;
    padding: 10px;
}

.pinetour-logo h2 {
    font-size: 1.2rem;
    color: white;
}

.pinetour-logo span {
    color: green;
}

.tour-name h1 {
    text-align: center;
    padding: 20px 0px;
}

.pageone-img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 20px;
}

.pageone-img img {
    width: calc(50% - 20px);
    aspect-ratio: 1/1;
}

.pagetwo-container {
    position: relative;
    padding: 0px 20px;
}

.pagetwo {
    text-align: center;
    margin: 20px 0px;
}

.pagetwo p {
    color: green;
    font-size: 1.5rem;
}

.pagetwo h2 {
    font-size: 2.5rem;
}

.pagetwo-travel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pagetwo-travel-plan {
    border: 2px solid;
    margin: 10px auto;
    width: 312px;
    border-radius: 15px;
    box-sizing: border-box;
}

.pagetwo-travel-plan-days {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.pagetwo-travel-plan-days-right {
    text-align: right;
}

.pagetwo-travel-plan-days-right img {
    position: absolute;
    display: none;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0px;
    filter: opacity(0);
}

.ulaanbator {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.434);
}

.pagethree {
    text-align: center;
    margin: 20px 0px;
}

.pagethree p {
    color: green;
    font-size: 1.5rem;
}

.pagethree h2 {
    font-size: 2.5rem;
}

.pagethree-pricing-menu {
    box-sizing: border-box;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    padding-left: 20px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid transparent;
}

.pagethree-pricing-menu p {
    font-size: 1.5rem;
    margin: 10px;
}

.pagethree-pricing-menu li {
    color: rgba(0, 0, 0, 0.501);
    font-size: 1rem;
}
footer{
    background-color: black;
}
.footer-top-section {
    border-bottom: 2px green solid;
    text-align: center;
    padding: 20px;
}

.footer-top-section p {
    font-size: 2rem;
    color: white;
}

.footer-top-section button {
    padding: 10px;
    color: white;
    background-color: rgb(92, 143, 15);
    border: none;
    border-radius: 12px;
    margin: 20px;
}
.footer-bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-content: center;
}
.footer-bottom-section p {
    color: white;
}

.footer-bottom-section span {
    color: green;
}

.footer-bottom-section-button-container {
    display: inline-flex
}

.footer-bottom-section button {
    display: inline-flex;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }

    .pageone-img {
        display: flex;
        justify-content: space-between;
    }

    .pageone-img img {
        width: calc((100%/4) - 20px);
        aspect-ratio: auto;
    }
    .pagetwo-travel-content {
        width: 80%;
        margin: auto;
    }
    .pagetwo-travel-plan {
        width: 400px;
        margin: 10px auto;
    }

    .pagetwo-travel-plan:hover {
        background-color: black;
        color: white;
    }

    .pagetwo-travel-plan:hover span {
        color: white;
    }

    .pagethree-pricing-menu-container {
        display: flex;
        margin: auto;
        width: 656px;
        gap: 40px;

    }

    .pagethree-pricing-menu:hover {
        border: 1px greenyellow solid;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1120px;
    }

    .pagetwo-travel-content {
        width: 100%;
    }

    .pagetwo {
        width: 50%;
        text-align: left;
    }
    .pagetwo-travel-plan {
        margin: 10px 0px;
    }

    .pagetwo-travel-plan:hover img {
        display: block;
        filter: opacity(100%);
    }
}